.contain{
    margin: 3%;
    background-color: #47c0de;
    margin-bottom: 10px;
    padding: 3%;
    border-radius: 10px;
}

h1{
    font-size: 30px;
    align-items: center;
}

h3{
    font-size: 20px;
    align-items: center;
}

.inner-contain{
    border-radius: 10px;
    border-style: solid;
    border: 10px;
    border-color: black;
    margin: 10px;
    background-color: #5173cf;
    align-items: center;
    text-align: center;
}

.heading{
    text-align: center;
}